#root {
  max-width: 1440px;
}
.bg-gradient-custom {
  background: linear-gradient(to bottom, rgb(240, 246, 255), rgb(253, 254, 255));
}


.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bg-custom-gray {
  background-color: rgba(249, 250, 252); /* 75% opacity */
}

.bg-custom-sky {
  --bs-bg-opacity: 1;
  background-color: rgba(239, 246, 255, var(--bs-bg-opacity)) !important;
  border-color: rgba(239, 246, 255, var(--bs-bg-opacity));
  box-shadow: 0 2px 5px rgba(200, 225, 255, 0.4); /* Soft shadow */

}


.bg-custom-mint {
  --bs-bg-opacity: 1;
  background-color: rgba(240, 253, 244, var(--bs-bg-opacity)) !important;
  border-color: rgba(240, 253, 244, var(--bs-bg-opacity));
}

.bg-custom-lavender {
  --bs-bg-opacity: 1;
  background-color: rgba(250, 245, 255, var(--bs-bg-opacity)) !important;
  border-color: rgba(250, 245, 255, var(--bs-bg-opacity));
}

.bg-custom-cream {
--bs-bg-opacity: 1;
  background-color: rgba(254, 252, 232, var(--bs-bg-opacity)) !important;
  border-color: rgba(250, 245, 255, var(--bs-bg-opacity));
}

/* Opacity Utility (like Bootstrap) */
.bg-opacity-25 {
  --bs-bg-opacity: 0.25 !important;
}

.bg-opacity-50 {
  --bs-bg-opacity: 0.5 !important;
}

.bg-opacity-75 {
  --bs-bg-opacity: 0.75 !important;
}
.custom-box-shadow {
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1), 
               4px 4px 8px rgba(0, 0, 0, 0.1), 
               0px 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
